[submodule "Source/Engine/ThirdParty/glfw"]
	path = Source/Engine/ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Source/Engine/ThirdParty/glad"]
	path = Source/Engine/ThirdParty/glad
	url = https://github.com/smt005/glad.git
[submodule "Source/Engine/ThirdParty/json"]
	path = Source/Engine/ThirdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "Source/Engine/ThirdParty/imgui"]
	path = Source/Engine/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
